Jinja2
MarkupSafe
Pillow
Pygments
certifi
cycler
decorator
functools32
ipykernel
ipython
ipython_genutils
ipywidgets
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
path.py
pexpect
pickleshare
ptyprocess
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
simplegeneric
singledispatch
six
terminado
tornado
traitlets
jupyter
pillow
